{% extends 'base.html' %}

{% block content %}
<h1>Детали займа: {{ loan }}</h1>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f7fc;
    }

    h1, h2 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }

    .loan-details {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .loan-details p {
        font-size: 16px;
        margin: 8px 0;
    }

    .loan-details .status {
        font-weight: bold;
        color: #4CAF50;
    }

    .payment-history {
        margin-top: 20px;
    }

    .payment-history ul {
        list-style-type: none;
        padding: 0;
    }

    .payment-history li {
        padding: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .payment-history li span {
        font-weight: bold;
    }

    .a1 {
        display: inline-block;
        padding: 12px 20px;
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 20px;
    }

    .a1:hover {
        background-color: #45a049;
    }
</style>

<div class="loan-details">
    <p>Сумма займа: {{ loan.amount }} руб.</p>
    <p>Процентная ставка: {{ loan.interest_rate }}%</p>
    <p>Остаток долга: {{ loan.remaining_amount }} руб.</p>
    <p class="status">Статус: {{ loan.get_status_display }}</p>
    <p>Срок возврата: {{ loan.due_date }}</p>

    <h2>История платежей</h2>
    <div class="payment-history">
        <ul>
            {% for payment in loan.payments.all %}
                <li>
                    <span>{{ payment.amount }} руб.</span> от {{ payment.payer.username }} — {{ payment.payment_date }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <a class="a1" href="{% url 'make_payment' loan_id=loan.id %}">Совершить платеж</a>
    {% if user.is_superuser %}
    <a class="a1" href="{% url 'loan_update' loan.id %}">Изменть</a>
    <a class="a1" href="{% url 'loan_delete' loan.id %}">Удалить</a>
    <form action="{% url 'send_loan_notification' loan.id %}" method="post">
        {% csrf_token %}
        <button class = 'a1' type="submit">Отправить уведомление на email</button>
      </form>
    {% endif %}
</div>

{% endblock %}
